<head>
    <title>Weather app</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
</head>
<body>
    <div id='app'></div>
    <script src="assets/bundle.js"></script>
</body>
</html>
